[submodule "zookeeper-docker"]
    path = zookeeper/zookeeper-docker
    url = git@github.com:yazanobeidi/zookeeper-docker.git
[submodule "kafka-docker"]
    path = kafka/kafka-docker
    url = git@github.com:wurstmeister/kafka-docker.git
[submodule "docker-kafka"]
    path = kafka-zookeeper/docker-kafka
    url = git@github.com:yazanobeidi/docker-kafka.git